@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.maintitle {
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    /* border: 0.5vh whitesmoke; */
    /* border-style: ridge; */
    font-weight: 500;
    margin: 5px;
    padding: 5px;
}

body {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, rgb(26, 107, 238), rgb(255, 0, 247));
}

.color1,
.color2 {
    border-radius: 6px;
    border: 1px solid black;
}

.generator {
    font-size: 5vw;
    text-transform: uppercase;
    text-align: center;
}

.roww {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputs {
    text-align: center;
}